



body{
    font-family: "Raleway";
}

#icono{
    width: 30px;
}
.titulo{
    width: 100px;
}

.footer-titulo {
    font-weight: 300;
}
#blur {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
  }
  #favicon {
    width: 35px;
  }
  p , h2 , h5{
    color:white;
  }